extends layout

block content
	input(type="hidden" id="peer" value=peer)

	h1=peer

	div.chat
	br
	input#message

	script.
		var peer = $("#peer").val().trim();

		function getLog() {
			$.get("/log/" + peer, function(res) {
				var log = JSON.parse(res);

				$(".chat").html(log.map(function(message) {
					return message.username + ": " + message.text;
				}).join("<br>"));

				$(".chat").scrollTop($(".chat")[0].scrollHeight);

				setTimeout(getLog, 1000);
			});
		}

		getLog();

		$("#message").keypress(function(event) {
			if(event.which == 13) {
				$.ajax({
					type: "POST",
					url: "/send/" + peer,
					data: { message: $("#message").val() }
				});
			}

			$("#message").val("");
		});
