extend layout

block content
	p Users to chat to

	ul
		each user in users
			li
				a(href="/chat/" + user)=user


	.row
		.col.s12
			h2 What's on your mind?
			input(id="text" type="text" )


		.feed.col.s12
