doctype html
html
	head
		title fire
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css")
		link(rel="stylesheet" href="/style.css")

	body
		input(type="hidden" id="publicKey" value=publicKey)

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")

		.container
			a(href="/")
				h1 fire

			block content

		script(src="/chat.js")
