.chat {
	text-align: left;
	background-color: #ddd;
	border-radius: 0.3em;

	display: inline-block;

	margin-top: 2em;
	padding: 1em;
	width: 100%;
	height: 30em;

	overflow-x: auto;
	overflow-y: scroll;
}
